html,
body {
  background-color: #00b1e9;
  padding: 0;
  margin: 0;
  font-family: Gilroy, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.clickable {
  background: radial-gradient(circle at 50% 30%, #73ddff, #00b1e9);
}
